/* Indikator kustom di bawah gambar */
.carousel-custom-indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px; /* posisi di bawah gambar */
}

/* Bentuk bulat indikator */
.indicator-dot {
  width: 13.5px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.indicator-dot:hover {
  background-color: #BBBBBB;
}

.indicator-dot.active {
  background-color: #8D6E63;
  transform: scale(1.2);
}

#galeri{
  margin-top: 3rem;
}


.analysis-card {
  width: 260px;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fff;

}

.analysis-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

.analysis-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.analysis-title {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 10px;
  color: #333;
}

.analysis-price {
  font-size: 0.95rem;
  font-weight: 400;
  color: #000;
}



